---
const { address } = Astro.props;
---
<div class="footerContainer">
	<footer>	

			{address && (
				<address>
					{address.title && <div class="">{address.title}</div>}
					{address.addressLine1 && <div>{address.addressLine1}</div>}
					{address.addressLine2 && <div>{address.addressLine2}</div>}
					{address.addressLine3 && <div>{address.addressLine3}</div>}
					{address.locality && <div>{address.locality}</div>}
					{address.postalCode && <div>{address.postalCode}</div>}
					{address.countryCode && <div>{address.countryCode}</div>}
				</address>
			)}

	</footer>
</div>

<style scoped>
:where(.footerContainer) {
  display: grid;
  grid-template-columns: var(--centerGrid--columns);
  margin-block-start: auto;
  border-block-start: 1px solid var(--borderColor--tertiary);
  background-color: var(--footer--backgroundColor);
  view-transition-name: main-footer;

  > footer {
    grid-column: main;
    padding-block: 2rem;
    font-family: var(--fontFamily--heading);
    font-weight: var(--fontWeight--heading);
  }
}
</style>