---
const { entry } = Astro.props;
---

<article class="Teaser py-6 mb-12">
  <figure>
    <a 
      href={`/${entry.uri}`} 
      class=""
    >
      {entry.image && entry.image.length > 0 ? (
        <img 
          src={entry.image[0].url} 
          alt={entry.image[0].alt} 
          class=""
        />
      ) : (
        <div class=""></div>
      )}
    </a>
  </figure>
  <div class="">
    <h2 class="h4">
      <a 
        href={`/${entry.uri}`} 
        class=""
      >
        {entry.title}
      </a>
    </h2>
    {entry.pageSubheading && <p>{entry.pageSubheading}</p>}
    <p>
      <time class="" datetime={entry.postDate}>{entry.postDate}</time>
    </p>
  </div>
</article>

<style scoped>
.Teaser {
  padding-block: 0.5rem;
  padding-inline: 1rem;
  border: 1px solid var(--borderColor--tertiary);
  border-radius: 0.5rem;
}

</style>