---
import { craftClient } from '../lib/graphql';
import { GLOBALS_QUERY } from '../queries/globals.mjs';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SvgSprite from '../components/SvgSprite.astro'
import ScrollObserver from '../components/ScrollObserver.astro';
import ThemeManager from '../components/ThemeManager.astro';

import '../styles/style.css';

const { title } = Astro.props;
const data = await craftClient.query(GLOBALS_QUERY);
const globals = data?.globalEntries?.[0];
const pages = data?.pagesEntries || [];
const siteName = globals?.title || import.meta.env.SITE_NAME || 'Site';
const pageTitle = title ? `${title} | ${siteName}` : siteName;
const currentPath = Astro.url.pathname;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<meta name="view-transition" content="same-origin" />
		<title>{pageTitle}</title>
		<ThemeManager />
	</head>
	<body>
		<div 
			id="app" 
			class="page"
			data-scrolled="false"
		>
			<Header 
				{currentPath} 
				{pages} 
				{siteName}
				logo={globals?.logo}
			/>
			<div class="mainContainer">
				<slot />
			</div>
			<Footer 
				address={globals?.address[0]} 
			/>
		</div>
		<SvgSprite />
		<ScrollObserver />
	</body>
</html>

<style scoped>
body {
	min-height: 100vh;
	min-block-size: 100dvh;
	color: var(--body--color);
  	background-color: var(--body--backgroundColor);
  	transition: background-color 0.125s ease-in-out, color 0.125s ease-in-out;
}
#app {
	display: flex;
	flex: 1;
	flex-direction: column;
}
.mainContainer {
	flex-grow: 1;
	background-color: var(--content--backgroundColor);
	transition: background-color 0.125s, color 0.125s;
	flex: 1;
	view-transition-name: main-content;
}
</style>