{% set validTypes = ['info', 'success', 'caution', 'danger'] %}
{% set type = type ?? 'default' %}
{% set iconType = type in validTypes ? type : 'default' %}
{% set ariaRole = type == 'danger' ? 'alert' : 'status' %}
{% set ariaLive = type == 'danger' ? 'assertive' : 'polite' %}

<aside
    id="{{ id ?? '' }}"
    class="Notification"
    role="{{ ariaRole }}"
    aria-live="{{ ariaLive }}"
    data-type="{{ iconType }}"
>
    <div class="icon">
        <svg aria-hidden="true" focusable="false" width="24" height="24">
            <use href="#icon-{{ iconType }}"></use>
        </svg>
    </div>

    <div class="content">
        {% if title %}
            <strong>{{ title }}</strong>
        {% endif %}
        {{ text|raw }}
    </div>
</aside>