---
import Layout from '../../layouts/Layout.astro';
import { craftClient } from '../../lib/graphql';
import { getPreviewStatus, PreviewScript } from '../../lib/preview';
import { BLOG_POSTS_QUERY } from '../../queries/blogPosts.mjs';
import Teaser from '../../components/Teaser.astro';
import ContentBlocks from '../../components/ContentBlocks.astro';

const { slug } = Astro.params;
const preview = getPreviewStatus(Astro.url);

const data = await craftClient.query(BLOG_POSTS_QUERY, { 
  slug: Array.isArray(slug) ? slug[0] : slug 
}, {
  previewToken: preview.token
});

const post = data?.blogPostsEntries?.[0];

if (!post) {
  return Astro.redirect('/404');
}

const hasHero = post.image?.length > 0;
const hasNextPrev = post.next || post.prev;
---

<Layout title={post.title}>
  <article>
    <header class="container mx-auto pt-12 pb-6 px-2 text-2xl">
      {hasHero && 
        <figure class="">
          <img src={post.image[0].url} alt={post.image[0].alt} />
        </figure>
      }

      <div class="z-10">
        <h1 class="font-bold text-4xl sm:text-6xl lg:text-9xl">{post.title}</h1>
        {post.pageSubheading && 
          <p class="mt-4">{post.pageSubheading}</p>
        }
        <div class="text-xs mt-4">
          <p>
            {post.category?.[0] && 
              <span class="font-bold">{post.category[0].title}</span>
            }
            {post.category?.[0] && post.postDate && " | "}
            {post.postDate && 
              <time datetime={post.postDate}>{post.postDate}</time>
            }
            {post.authorName && 
              <span class="block">By {post.authorName}</span>
            }
          </p>
        </div>
      </div>
    </header>

    {post.pageContent?.chunks && (
      <section class="page__content">
        <div 
          class="container mx-auto py-12 px-2 prose prose-slate lg:prose-xl"
        >
          <ContentBlocks chunks={post.pageContent.chunks} />
        </div>
      </section>
    )}

    {hasNextPrev && 
      <section class="bg-slate-100">
        <div class="container mx-auto py-12 px-2">
          <h2 class="font-bold text-4xl mb-6">Other articles</h2>
          <div class="sm:grid sm:grid-cols-2 sm:gap-6">
            {post.prev && <Teaser entry={post.prev} />}
            {post.next && <Teaser entry={post.next} />}
          </div>
        </div>
      </section>
    }
  </article>
</Layout>

<Fragment set:html={PreviewScript({ isPreview: preview.isPreview })} />


<style scoped>
  :where(article) {
    display: grid;
    grid-template-columns: var(--centerGrid--columns);

    & > * {
      grid-column: main;
    }
  }
</style>